@use "./vars" as *;

main#landing {
  section {
    padding-top: 114px;

    #section-header {
      position: relative;
      height: 300px;
      //   //   background-image: url("../assets/2.png");
      //   background-size: cover;
      //   background-position: center;
      width: 100vw;
      @include flex(row, center, center);

      article {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        min-width: 100%;
        z-index: -1;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        transform: translateX(-100vw);
        transition: transform 1.5s cubic-bezier(0.87, 0.2, 0.4, 1);

        div {
          position: relative;
          width: 100vw;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      div {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(76, 63, 26, 0.3);
        // backdrop-filter: blur(2px);
        @include flex(row, center, center);

        &:hover {
          button {
            opacity: 0.4;
          }
        }

        button {
          cursor: pointer;
          transition: opacity 0.3s;
          @media screen and (max-width: 800px) {
            display: none;
          }

          &:disabled {
            opacity: 0 !important;
            cursor: not-allowed;
          }

          &:hover {
            opacity: 0.8;
          }
          position: absolute;
          color: $text-light;
          font-size: 1.8em;
          opacity: 0;
          left: 30px;
          top: 50%;
          transform: translateY(-50%);
          background-color: transparent;
          border: none;
          z-index: 5;

          &#s_right {
            left: auto;
            right: 30px;
          }
        }
      }

      h1 {
        background-color: transparent;
        color: $text-light;
        text-align: center;
        font-size: 2.5em;
        margin: 0px 20px;

        @media screen and (max-width: 600px) {
          font-size: 2em;
        }
      }
    }

    #offer {
      padding: 20px;
      padding-top: 100px;

      @media screen and (max-width: 600px) {
        padding: 10px;
        padding-top: 100px;
      }

      @include flex(column, center, center);

      h1 {
        color: $text-dark;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 47px;
      }

      ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @media screen and (max-width: 800px) {
          grid-template-columns: 1fr 1fr;
        }

        @media screen and (max-width: 500px) {
          gap: 0px;
        }
        gap: 16px;
        list-style: none;

        li {
          padding: 10px;
          a {
            text-decoration: none;
            color: black;
            @include flex(column, center, center);
            gap: 20px;

            @media screen and (max-width: 600px) {
              gap: 10px;
              margin-bottom: 10px;
            }

            div {
              height: 285px;
              aspect-ratio: 197/285;

              @media screen and (max-width: 600px) {
                aspect-ratio: 1/1;
                height: 200px;
                padding: 5px;
              }
              background-color: black;
            }

            label {
              font-size: 24px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }
    }

    #about {
      @extend #offer;

      #about-inner-container {
        width: 80%;

        @media screen and (max-width: 1100px) {
          width: 100%;
        }
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 900px) {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
        }
        padding: 10px;
        gap: 20px;
        justify-content: center;
        align-items: center;

        div {
          margin: 10px;
          background-color: black;
          height: 100%;

          @media screen and (min-width: 900px) {
            min-height: 200px;
            max-width: 627px;
          }

          @media screen and (max-width: 600px) {
            min-height: 200px;
          }
          min-height: 300px;
        }

        article {
          @include flex(column, center, center);
          p {
            padding: 20px;
            font-family: "Oxygen", sans-serif !important;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.6px;
            color: $secondary;

            @media screen and (max-width: 600px) {
              font-size: 16px;
              padding: 10px;
            }

            @include flex(column, center, flex-start);
            gap: 20px;
          }

          a {
            text-decoration: none;
            border: none;
            padding: 10px 36px;
            align-self: flex-start;
            margin: 0px 20px;
            background-color: $button-color;
            color: $text-light;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.6px;
            font-family: "Oxygen", sans-serif;
            border-radius: 10.084px;

            @media screen and (max-width: 600px) {
              margin: 0%;
              margin-top: 20px;
              align-self: center;
            }

            cursor: pointer;

            &:hover {
              background-color: rgb(18, 102, 136);
            }
          }
        }
      }
    }

    #contact {
      margin: auto;
      margin-top: 100px;
      margin-bottom: 100px;
      background-color: #f5f4f1;
      width: calc(80% - 40px);

      @media screen and (max-width: 1000px) {
        width: calc(95% - 40px);
      }
      min-height: 400px;
      //   aspect-ratio: 1150/408;
      padding: 20px;
      border: dashed $secondary 1px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.8fr;
      }
      font-family: "Oxygen", sans-serif !important;
      #contact-left {
        display: grid;
        grid-template-rows: 1fr 5fr;

        h1 {
          padding: 0 30px;
          @include flex(row, flex-start, center);

          @media screen and (max-width: 500px) {
            padding: 0px 10px;
            font-size: 1.8em;
          }
        }

        ul {
          @include flex(column, flex-start, flex-start);
          padding: 30px;

          @media screen and (max-width: 500px) {
            padding: 20px 10px;
            margin-bottom: 50px;
          }
          gap: 30px;
          li {
            font-size: 18px;

            @media screen and (max-width: 500px) {
              font-size: 15px;
            }
            @include flex(row, center, center);
            gap: 20px;

            @media screen and (max-width: 500px) {
              gap: 15px;
              opacity: 0.8;
            }

            &:last-child {
              svg {
                width: 32px;
              }
              @include flex(row, center, flex-start);

              div {
                overflow: hidden;
                @include flex(column, flex-start, flex-start);

                span {
                  &:nth-child(2) {
                    margin-bottom: 15px;
                  }

                  &:nth-child(2n) {
                    font-size: 14px;

                    @media screen and (max-width: 500px) {
                      font-size: 11px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      #contact-right {
        overflow: hidden;
      }
    }
  }
}
